/*----------------------------- LOG IN STYLING -------------------------*/
#logInTitle{
    text-align: center;
    color: #1d1d1d;
}

body{
    padding-top:20px;
    background-image: url("background-image.jpg");
    background-size: 2000px 1000px;

}

a{
    color: white;
}

#label{
    color: black;
}
