{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block body %}
<div class="container-fluid" style="height: 700px;">

  <div class="jumbotron shadow p-3 mb-5 bg-light rounded">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Username: {{user}}</li>
        <li class="list-group-item">Default Location: {{location}}</li>
        <li class="list-group-item">
        <a href={{spotifyid}}> Spotify Account </a>
      </ul> 
  </div>
</div>
{% endblock body %}
