{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block body %}

<div class="row" style="margin-top: 100px; margin-left: 20px;">
        <div class="col-md-3">
            
            <div class="jumbotron">
            
            </div>
        
            <div class="jumbotron">
            
            </div>
    
        </div>
        
        
        
        <div class="col-md-9">
            
            
            <div class="jumbotron">
            
            </div>
                
            <div class="jumbotron">
            
            </div>
        
        </div>
</div>

{% endblock body %}
